@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono');

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}

/* skeletal styles
-------------------------------------------------- */

@media (min-width: 992px) {
  .container {
     width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
     width: 750px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

code,
.highlight pre {
  font-family: "Ubuntu Mono", monospace;
}

#blog-title hr {
  border-bottom: 1px dashed #222;
  border-top: none;
  margin-top: 5px;
}

#blog-title a {
  text-decoration: none;
  color: #222;
  font-weight: 700;
}

h3#list-title {
  margin-top: 0;
}

.tag-listing-title {
  text-transform: lowercase;
}

ul#article-list {
  list-style: none;
  padding-left: 0;
}

ul#article-list li {
  padding-bottom: 10px;
}

.article-date { /* also used in single page */
  text-transform: uppercase;
  font-size: 0.8em;
}

h3#article-title {
  margin-top: 0;
}

figure {
  text-align: center;
}

figcaption h6 {
  font-weight: 700;
}

#post .article-date {
  padding-right: 20px;
  margin-bottom: 10px;
}

.tags {
  text-transform: lowercase;;
  white-space: nowrap;
  font-size: 0.9em;
}

/* pagination
-------------------------------------------------- */
nav.pagination {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 10px;
}

.page-number {
  padding: 0 5px;
}

/* footer
-------------------------------------------------- */
footer {
  font-size: 0.8em;
}

footer hr {
  border-top: 1px dashed #222;
  margin-bottom: 5px;
}
