@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,700';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #d2d0d0;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
  padding: 10px;
  overflow-x: auto; /*scroll; */
}

.highlight pre {
  color: #d2d0d0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: #0c5ca5;
  text-decoration:none;
}

::selection {
  background: #43a1e8;
  color: #222;
}

a.blog-style {
  color: #222;
}

#banner {
  margin-bottom: 20px;
}

#blog-title {
  margin-top: 5px;
  margin-bottom: 0;
}

#blog-title a {
  text-decoration: none;
  color: #222;
}

ul#page-nav {
  list-style: none;
  float: left;
}

ul#page-nav li {
  display: inline;
}

ul#page-nav li a {
  text-transform: uppercase;
  padding-right: 10px;
  color: #222;
}

ul#article-list {
  list-style: none;
}

.article-date {
  text-transform: uppercase;
  font-size: 0.75em;
}

.article-link {
  text-decoration: none;
  color: #222;
  font-size: 1.2em;
}

#article-title {
  margin-bottom: 0;
}

.article {
  padding: 10px 0;
}

.article p {
  margin-bottom: 1rem;
}

.article a {
  text-decoration: underline;
}

.tags {
  text-transform: uppercase;
  font-size: 0.8em;
  padding-right: 10px;
}

code.language-text {
  color: #abb2bf;
  background: #282c34;
}

nav.pagination {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 10px;
}

.page-number {
  padding: 0 5px;
}

#footer {
  font-size: 0.75em;
}

@media (min-width: 550px) {
  #colophon {
    float: right;
  }
}

/*
 * Sticky footer
 * http://www.cssstickyfooter.com/using-sticky-footer-code.html
 */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
	padding-bottom: 40px; /* must be same height as the footer */
}

#footer {
  position: relative;
	margin-top: -40px; /* negative value of footer height */
	height: 40px;
	clear:both;
}
