@import 'https://fonts.googleapis.com/css?family=Droid+Sans:400|Droid+Serif:400,700|Inconsolata:400,700';

@media (min-width: 750px) {
  .container {
    width: 60%;
  }
}

/* override skeleton element styles */
body {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 1rem;
}

pre, code {
  font-family: 'Inconsolata', monospace;
}

code {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: 700;
  font-size: 100%;
}

a {
  color: #0c5ca5;
  text-decoration:none;
}

::selection {
  background: #43a1e8;
  color: white;
}

/* ---- banner partial ---- */
#banner {
  margin-bottom: 1rem;
}

h2#blog-title {
  margin-top: 5px;
  border-bottom: 1px dashed #222;
}

h2#blog-title small {
  font-size: 1.25rem;
  letter-spacing: normal;
}

a.blog-style {
  color: #222;
}

a.blog-style:hover {
  text-decoration: none;
}
/* ---- end banner partial ---- */

/* ---- footer partial ---- */
#footer {
  font-size: 0.9em;
}

/*
 * Sticky footer
 * http://www.cssstickyfooter.com/using-sticky-footer-code.html
 */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
	padding-bottom: 50px; /* must be same height as the footer */
}

#footer {
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
}
/* ---- end footer partial ---- */

/* ---- list page - article list ---- */
h5#list-title {
  margin-bottom: 1rem;
}

#feed-link img {
  vertical-align: text-top;
}

ul#article-list {
  list-style: none;
}

.article-link {
  font-size: 1.2em;
}

.article-date { /* also used in single page */
  text-transform: uppercase;
  font-size: 0.75em;
}
/* ---- end list page - article list ---- */

/* ---- single page ---- */
#article-title {
  margin-bottom: 0;
}

.article {
  font-family: 'Droid Serif', serif;
  padding: 10px 0;
  line-height: 1.7;
}

.article-image {
  text-align: center;
}

.article-image h6 {
  font-family: 'Droid Sans', sans-serif;
}

.article-image img {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 5px;
}

.article blockquote {
  border-left: 2px solid #ab6f6f;
  padding-left: 10px;
}

.article ul {
  padding-left: 30px;
  list-style: disc;
}

.article a {
  text-decoration: underline;
}

.highlight pre { /* for pre content without specific syntax */
  color: #d2d0d0;
  padding: 1rem;
  overflow-x: auto; /*scroll; */
}
/* ---- end single page ---- */

/* ---- tags partial ---- */
.tags {
  text-transform: uppercase;
  font-size: 0.9em;
  padding-right: 10px;
}
/* ---- end tags partial ---- */

/* ---- pagination nav ---- */
nav.pagination {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 10px;
}

.page-number {
  padding: 0 5px;
}
/* ---- end pagination ---- */
