#blog-title {
  text-align: center;

  h2 {
    margin-bottom: -6px;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: $primary-color;
    }
  }

  @media #{$non-mobile} {
    text-align: left;
  }
}

/* todo: use flex to line up the menu items */
#page-nav {
  text-align: center;
  padding-left: 0;
  padding-top: 5px;

  li {
    display: inline;
    font-size: 0.9rem;
    padding-left: 10px;

    a {
      text-decoration: none;
      color: $primary-color;
    }
  }

  @media #{$non-mobile} {
    text-align: right;
    margin-top: 10px;
  }
}

/* this is on article page */
body#single {
  #blog-title {
    h2 {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }

  .single-hide {
    display: none;
  }
}
