<!DOCTYPE html>
<html {{with .Site.LanguageCode}}lang="{{.}}"{{end}}>

{{ partial "head.html" . }}

<body>
  <div class="container">
    {{ partial "banner.html" . }}

    <div class="row">
      <div class="col-xs-12">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

        {{ if .Data.Singular }}
          <h3 id="list-title">Posts with {{ .Data.Singular }} <span class="tag-listing-title">"{{ .Title }}"</span></h3>
        {{ end }}

        <ul id="article-list">
          {{ range $index, $page := .Paginator.Pages }}
            <li>
              <span class="article-date">{{ .Date.Format "Jan 2, 2006" }}</span><br>
              <a class="article-link blog-style" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>

        {{ partial "pagination.html" $paginator }}
      </div>
    </div>
  </div> <!-- #main .container -->

   {{ partial "footer.html" . }}
</body>
</html>
