<!doctype html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>

{{ partial "head.html" . }}

<body id="list">
  <div id="main" class="container">

    {{ partial "banner.html" . }}

    <div class="row">
      <div class="col" id="page-content">
        {{ $p := .Paginate (where .Data.Pages "Type" "post") }}

        {{ if .Data.Singular }}
          <h4 id="list-title">Posts with {{ .Data.Singular }} <span class="tag-title">"{{ .Title }}"</span></h4>
        {{ end }}

        <ul id="article-list">
          {{ range $index, $page := $p.Pages }}
            <li>
              <span class="article-date">{{ .Date.Format "Jan 2, 2006" }}</span><br>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>

        <div id="pagination">
          {{ if $p.HasPrev }}
            <a class="arrows" href="{{ $p.Prev.URL }}">&#8612;</a>
          {{ end }}

          <span id="page-number">Page {{ $p.PageNumber }} of {{ $p.TotalPages }}</span>

          {{ if $p.HasNext }}
            <a class="arrows" href="{{ $p.Next.URL }}">&#8614;</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div> <!-- #main .container -->

  {{ partial "footer.html" . }}

</body>
</html>
