<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>

{{ partial "head.html" . }}

<body id="single">
  <div class="container">

    {{ partial "banner.html" . }}

    <div class="row">
      <div class="col-xs-12" id="page-content">
        <h3 id="article-title">{{ .Title }}</h3>

        {{ if eq .Type "post" }}
          <div class="article-date">{{ .Date.Format "Jan 2, 2006" }}</div>
        {{ end }}

        <div class="article">
          {{ .Content }}
        </div>

        {{ if eq .Type "post" }}
          <div>
            {{ range .Params.tags }}
              <span class="tags">
                <i class="fa fa-tag" aria-hidden="true"></i>
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
              </span>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div> <!-- #main .container -->

  {{ partial "footer.html" . }}
</body>
</html>
