<div class="row">
  <div class="column" id="banner">

    <h2 id="blog-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <small>messages to nobody</small>
  </div>
</div>

<div class="row">
  <div class="column">
    <ul id="page-nav">
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"><i class="fa fa-file-text" aria-hidden="true"></i>  {{ .Name }} </a></li>
      {{end}}
    </ul>

    {{ if .RSSlink }}
      <a class="blog-style u-pull-right" href="{{ .RSSlink }}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
    {{ end }}
  </div>
</div>
