<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>

{{ partial "head.html" . }}

<body id="single">
  <div class="container">

    {{ partial "banner.html" . }}

    <div class="row" id="page-content">
      <div class="col-xs-12">
        <h3 id="article-title">404</h3>

        <p>
          Oops! That page couldn't be found.<br>
          <small>Go to the <a href="{{ .Site.BaseURL }}">homepage</a></small>.
        </p>
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
